<!--
# TAFE, 29 April, 2015.
# Ruby Source File
# Activity::  Final Project: Quiz App
-->

<h1>Quiz Results</h1>
<p>FINAL PAGE TO STILL BE COMPLETED</p>
<p>FINAL RESULTS CURRENTLY DISPLAYED IN CONSOLE FOR PRIOR PAGES DEBUGGING</p>